/* keep this file here even if empty -- c5 always looks for it due to buggy override system, and you'll get a 404 if it doesn't exist! */

.formblock .success {
	background-color: #FAF6EA;
	border: 1px solid green;
	padding: 5px;
	font-weight: bold;
}

.formblock .errors {
	color: red;
	white-space: nowrap;
}

.formblock .error {
	margin: 3px 0 5px 5px;
}

/* hide form labels but ensure they can be read by screenreaders
 * (from html5boilerplate, and explained well at http://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
 */
.formblock .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}